<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form khảo sát phần lý thuyết</title>
    <link rel="stylesheet" href="../../assets/css/dataCollectStyle.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="get-info">

            <h2 style="text-align: center;">PHIẾU KHẢO SÁT SINH VIÊN VỀ HỌC PHẦN LÝ THUYẾT</h2>
            <div>
                <P style=" font-size: larger;">
                    Nhằm nâng cao chất lượng dạy và học, Nhà trường rất mong nhận được ý kiến của các bạn sinh viên về
                    học phần lý thuyết. Ý kiến của các bạn sinh viên sẽ giúp Nhà trường đưa ra được các giải pháp nâng
                    cao chất lượng dạy và học. Thông tin trả lời của các
                    bạn sẽ được giữ kín, vì vậy các bạn vui lòng trả lời thẳng thắn và khách quan các câu hỏi. Nếu các
                    bạn có thắc mắc hoặc trao đổi, vui lòng liên hệ theo địa chỉ ở cuối bảng hỏi này.
                </P>
                <div>
                    <h3>
                        Phần 1: Thông tin chung
                    </h3>
                    <!-- form -->
                    <form class="new_user" method="POST" id="update_user">
                        <input type="hidden" name="id" value="<%= author._id %>">
                        <div>
                            <div class="form-group">
                                <label for="name" class="text-light">1. Tên giảng viên:</label> <br>
                                <input type="text" name="teacher" value="<%= author.teacher %>">
                            </div>
                            <div class="form-group">
                                <label for="khoa" class="text-light">2. Khoa/Viện:</label> <br>
                                <input type="text" name="faculty" value="<%= author.faculty %>">
                            </div>
                            <div class="form-group">
                                <label for="monhoc" class="text-light">3. Môn học/Học phần:</label> <br>
                                <input type="text" name="subject" value="<%= author.subject %>">
                            </div>
                            <div class="form-group">
                                <label for="hocphan" class="text-light">4. Lớp học phần:</label>
                                <input class="tab-subject" type="text" name="classroom_section" value="<%= author.classroom_section %>">
                    
                                <label for="hocky" class="text-light">Học kỳ:</label>
                                <input class="tab-subject" type="text" name="semester" value="<%= author.semester %>">
                                <label for="namhoc" class="text-light">Năm học:</label>
                                <input type="text" name="school_year" value="<%= author.school_year %>">
                            </div>
                            <div class="form-group inline">
                                <input id="btn-submit" type = "button" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
    <script src="/js/index.js"></script>

</body>

</html>